<div {{ attributes }} class="chart-container">
    <div class="chart-header">
        <div class="chart-stats">
            <span class="stat">
                <strong>{{ this.totalResults }}</strong> ventes
            </span>
            <span class="stat">
                <strong>{{ this.totalAmount|number_format(0, ',', ' ') }} €</strong>
            </span>
        </div>
    {{ render_chart(this.chart) }}
    </div>
</div>
